{% extends 'base.html' %}




{% block content %}
<div class="col-md-10 offset-md-1 mt-5">
  <div class="jumbotron">

      <div>
          <form action="" method="post"  autocomplete="off" class="form-horizontal form_middle" enctype='multipart/form-data' >
              {% csrf_token %}
              <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1>Register</h1>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col mt-4">
              <input type="text" class="form-control" name="username" placeholder="username">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="col">
              <input type="password" class="form-control" name="confirm-password" placeholder="Confirm Password">
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">

              <button class="btn btn-primary mt-4">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
          </form>
      </div>
  </div>



{% endblock content %}